.briefs
  %section#jcdavis
    %h1 JC Davis Experimental
    %h6 Skills:
    %ul
      %li=image_tag("rails1.png", size: "75x75")
      %li=image_tag("sass.png", size: "75x75")
      %li=image_tag("coffee-script.png", size: "75x75")
      %li=image_tag("heroku.png", size: "75x75")
    %p JC has a passion for photography that is matched only by his talent. His collection of automotive, personal, and product compositions are outstanding. In addition to his branded professional site, he wanted an experimental digital presence to push the envelope. Complimenting the stunning UI is a custom content management system for him to manage his galleries and photographs.
    
    %h4 Link: #{link_to "JC Davis Experimental", "http://jcdavis.herokuapp.com/"}
    %h4 Credits: Photos: JC Davis, Design, Front-end Development, and Custom CMS Development by #{link_to "me", about_path}.

  %section#stairmeister
    %h1 The StairMeister Collection
    %h6 Skills:
    %ul
      %li=image_tag("rails1.png", size: "75x75")
      %li=image_tag("html5.png", size: "75x75")
      %li=image_tag("sass.png", size: "75x75")
      %li=image_tag("coffee-script.png", size: "75x75")
      %li=image_tag("heroku.png", size: "75x75")
      %li=image_tag("git.png", size: "75x75")
    %p StairMeister creates some of the most amazing log staircases in the world. They needed a website to reflect that level of quality and sophistication in an ecommerce / product gallery format. I gave much attention to the stair cases, carvings, and other products, in the form of smooth galleries and images. Green undertones and unassuming headers and footers allow the products to take center stage. I integrated a number of jQuery libraries in order to make this site work across a wide range of browsers.
    %h4=link_to "StairMeister", "http://www.stairmeistercollection.com/"
    %h4 Credits: Front-end Javascript Development by #{link_to "me", about_path}, Design: Template

  %section#bloominations
    %h1 Bloominations
    %h6 Skills:
    %ul
      %li=image_tag("rails1.png", size: "75x75")
      %li=image_tag("html5.png", size: "75x75")
      %li=image_tag("sass.png", size: "75x75")
      %li=image_tag("coffee-script.png", size: "75x75")
      %li=image_tag("heroku.png", size: "75x75")
      %li=image_tag("git.png", size: "75x75")
    %p Beautiful lighted flower arrangements need a site that showcases their beauty. I delivered an e-commerce system with all of the beauty and features necessary for the digital presence desired, including a custom design layout and scheme, database driven inventory, robust user authentication, customized email and atom feed order and shipment notifications, as well as an AJAX and jQuery UI shopping cart implementation.
    %h4=link_to "Bloominations", "http://bloominations.herokuapp.com/"
    %h4 Credits: Design and Development by #{link_to "me", about_path}.

  %section#aqhi
    %h1 A Quality Home Inspection
    %h6 Skills:
    %ul
      %li=image_tag("rails1.png", size: "75x75")
      %li=image_tag("html5.png", size: "75x75")
      %li=image_tag("sass.png", size: "75x75")
      %li=image_tag("coffee-script.png", size: "75x75")
    %p Entering a crowded market, AQHI needed a digital partner to design and develop their site chiefly as a means of bringing business their way. I leveraged a design layout template favored by the owner and completed the front-end development and digital marketing functions, including tailored advertisements linking to exclusive deals for potential customers.
    %h4=link_to "A Quality Home Inspection", "http://aqualityhomeinspection.com/"
    %h4 Credits: Development by #{link_to "me", about_path}. Design: Template