%header
  .top
    = link_to "Kyle", '/', id: "logo"
    = link_to "Ries", '/', id: "logo2"
    %nav
      %ul#main
        %li= link_to "Contact", '#', id: "contactlink"
        |
        %li= link_to "About", about_path
  
= form_for @message, remote: true, url: {action: "create"}, html: {class: " ", id: "feedback-form"} do |f|
  
  #front
    %h3 Contact me!

    = f.text_field :name, placeholder: "Enter Your Name"

    = f.email_field :email, placeholder: "Enter Your Email Address"

    = f.telephone_field :phone, placeholder: "Enter Your Phone Number"

    = f.text_area :message, placeholder: "Enter Your Message. Something like: 'Kyle, you are the best. Let's work together!' would suffice.", size: "24x6"
  
    = f.submit "Send", id: "submits"

:javascript
  var submit = document.getElementById("submits");  
  var form = document.querySelector("form");
  var back = document.getElementById("back");
  var h3 = document.querySelector("h3");
  var contactlink = document.getElementById("contactlink");
        
  submit.addEventListener("click", formOut, false);
  h3.addEventListener("click", formOut, false);
  contactlink.addEventListener("click", formOut, false);
  form.addEventListener("submit", formSubmit, false);
  
  function formOut() {
    if(form.className===" " || form.className==="form-in") {
      if(Modernizr.cssanimations) {
        form.setAttribute("class","form-out");           
      } else {
        form.setAttribute("class","form-fallback");
        form.style.left = "0rem";
      }
      h3.innerHTML = "Hide contact form!";
    } else {
      if(Modernizr.cssanimations) {
        form.setAttribute("class","form-in");
      } else {
        form.setAttribute("class","");
        form.style.left = "-22rem";
      }
      h3.innerHTML = "Contact me!";
    }
  }
    
  function formSubmit(e) {
    h3.innerHTML = "Thank you!";
    
    //submit form via Ajax
  }
